<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yesport App</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="navbar">
        <a href="/">
            <img src="/img/yesport_logo.jpg" alt="logo">
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/realtimeproducts">Productos</a></li>
            </ul>
        </nav>
    </div>
    <div class="contenedor-principal">
        {{{body}}}
    </div>
    <footer>
        <div class="footer">
            <div className='contenedorfooter'>
                <div class='hrfooter'>
                    <div class='footerlinks'>
                        <div class='footerlinksdiv'>
                            <a href="/">
                                <img src="/img/yesport_logo.jpg" />
                            </a>
                            <p>Lider Deportivo - Todo lo que buscas en un solo lugar</p>
                        </div>
                        <div class='footerlinksdiv'>
                            <h4>Recursos</h4>
                            <a class='link' href="/">
                                <p>Comentarios</p>
                            </a>
                            <a class='link' href="/">
                                <p>Buscar una tienda</p>
                            </a>
                            <a class='link' href="/">
                                <p>Hazte miembro</p>
                            </a>
                        </div>
                        <div class='footerlinksdiv'>
                            <h4>Ayuda</h4>
                            <a class='link' href="#">
                                <p>Cambios</p>
                            </a>
                            <a class='link' href="/">
                                <p>Envios y entregas</p>
                            </a>
                            <a class='link' href="/">
                                <p>Libro de quejas online</p>
                            </a>
                        </div>
                        <div class='footerlinksdiv'>
                            <h4>Acerca de Yesport</h4>
                            <a class='link' href="/">
                                <p>Propósito</p>
                            </a>
                            <a class='link' href="/">
                                <p>Empleo</p>
                            </a>
                        </div>
                        <div class='footerlinksdiv'>
                            <h4>Novedades</h4>
                            <a class='link' href="/">
                                <p>Promociones</p>
                            </a>
                            <a class='link' href="/">
                                <p>Guia de talles</p>
                            </a>
                            <a class='link' href="/">
                                <p>Tarjeta de regalo</p>
                            </a>
                        </div>
                        <div class="footerlinksdiv">
                            <h4>Redes Sociales </h4>
                            <div class='socialmedia'>
                                <p><i class='fa-brands fa-square-facebook socialmediaimg'></i></p>
                                <p><i class='fa-brands fa-square-twitter socialmediaimg'></i></p>
                                <p><i class='fa-brands fa-square-instagram socialmediaimg'></i></p>
                                <p><i class='fa-brands fa-linkedin socialmediaimg'></i></p>
                            </div>
                            <h4>Metodos de Pago</h4>
                            <div class='socialmedia'>
                                <p><i class='fa-brands fa-cc-visa socialmediaimg'></i></p>
                                <p><i class='fa-brands fa-cc-mastercard socialmediaimg'></i></p>
                                <p><i class='fa-brands fa-bitcoin socialmediaimg'></i></p>
                                <p><i class='fa-solid fa-money-bill-transfer socialmediaimg'></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='footerbelow'>
                    <div class='footercopyright'>
                        <p><i class='fa-solid fa-location-dot'></i></p>
                        <p>Yesport, All right reserved.</p>
                    </div>
                    <div class="footerbelowlinks">
                        <a class='link' href="/">
                            <p>Terminos y condiciones</p>
                        </a>
                        <a class='link' href="/">
                            <p>Política de privacidad</p>
                        </a>
                        <a class='link' href="/">
                            <p>Devoluciones</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>